<div class="row" style="display: flex; justify-content: space-between; width: 100%;">
    <span class="value">{{Manifest_GroupName}}, בונדד {{Manifest_ManifestID}} ({{Manifest_TermName}})</span>
</div>

<div style="border-bottom: 1px solid black; width: 100%; margin-top: 10px;"></div>

<div class="row" style="display: flex; width: 100%; box-sizing: border-box; justify-content: space-between; direction: rtl;">
    <div style="flex: 1 1 50%; display: flex;">
        <span class="value">{{Manifest_Location}}</span>
    </div>
    <div style="flex: 1 1 50%; display: flex;">
        <span class="label">מספר עוסק באיחוד עוסקים:</span>
        <span class="value">{{Manifest_GroupID}}</span>
    </div>
</div>
<div class="row" style="display: flex; width: 100%; box-sizing: border-box; justify-content: space-between; direction: rtl;">
    <div style="flex: 1 1 50%; display: flex;">
        <span class="label">ת.ד.:</span>
        <span class="value">{{Manifest_POB}}, </span>
        <span class="label" style="margin-right: 5px;">מיקוד:</span>
        <span class="value">{{Manifest_ZIPcode}}</span>
    </div>
    <div style="flex: 1 1 50%; display: flex;">
        <span class="label">מספר ח.פ:</span>
        <span class="value">{{Manifest_TermVAT}}</span>
    </div>
</div>
<div class="row" style="display: flex; width: 100%; box-sizing: border-box; justify-content: space-between; direction: rtl;">
    <div style="flex: 1 1 50%; display: flex;">
        <span class="value">{{Manifest_Phone}}</span>
    </div>
</div>

<div style="border-bottom: 1px solid black; width: 100%; margin-top: 10px;"></div>
